.appbar-search {
	position: relative;
	background: rgba(255, 255, 255, 0.15);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	border-radius: 2px;
    margin: 0;
    flex-grow: 1;
}
.appbar-search:hover {
	background: rgba(255, 255, 255, 0.25);
}
.appbar-search .appbar-search-input {
	/* width: 200px; */
	transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.appbar-search .appbar-search-input:focus {
	/* width: 250px; */
}
.appbar-search-icon {
	width: 72px;
	height: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	pointer-events: none;
	justify-content: center;
}
.appbar-search-input {
	font: inherit;
	color: inherit;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 8px 8px 8px 72px;
	display: block;
	background: none;
	white-space: normal;
	vertical-align: middle;
}
.appbar-search-input::placeholder {
    color: white;
}
.appbar-search-input:focus::placeholder {
    color: #555;
}
.appbar-search-input:focus {
	outline: 0;
}

